.header-box {
  padding: 10px;
  box-shadow: 0px 0px 4px 1px rgba(255, 255, 255, 0.73);
  border-bottom: #A0A0F0 2px solid;
}

.big-header {
  font-size: 40px;
  text-shadow: 0px 0px 6px white;
}

.version {
  font-size: 20px;
  font-family: "Elemental";
  color: #50B71D;
  text-shadow: 0px 0px 6px #50B71D;
}
