# Heroku git repository ignored
backend.App/.git-heroku/

# IntelliJ Idea ignorable files and directories
*.iml
.idea/workspace.xml
.idea/sonarLint/
.idea/caches/
.idea/libraries/

# Compilation ignorable directories
.gradle/
build/
backend.App/build/
backend.AcceptanceTest/build/

# Ignore application cache directories from runs
NeoCom.Infinity.development/
