# IntelliJ IDEA ignored files
.idea/workspace.xml

# Project generated ignored files
.gradle/
build/
backend/build/
baeckend.AcceptanceTest/build/

# Project not required files set to be ignored
backend/libs/
backend.AcceptanceTest/libs/

