# File extensions to be ignored on the repository
*.diff
*.db
*.log
*.db-journal
*.ttf
*.otf
*.odt#

# Stage directories to be excluded
Stage/
stage/
Neocom.MicroServices/repository/
NeoCom.Infinity.Backend/repository/

