*.diff
*.db
*.log
.recommenders/
.metadata/
*.db-journal
Neocom.MarketDataService/MarketDataService.store
Neocom.MicroServices/MarketDataService.store
*.ttf
*.otf
Documentation/~$emiminaryNotes.odt
*.sqlite
Neocom.MicroServices/ESINetworkManager.cache.store/
Neocom.MicroServices/.idea/workspace.xml
Neocom.MicroServices/src/main/resources/properties/esiauthorization.properties
