// - ADDITIONAL MODULES STYLES
@import "~bootstrap/dist/css/bootstrap.css"; // bootstrap styles
@import './styles/toaster.css'; // angular5-toaster module additional styles
// - APPLICATION STYLES VARIABLES
@import "./styles/_scss_variables.scss";
// - APPLICATION STYLE PACKS
// @import "./styles/open-sans.css";
@import "./styles/new-font-styles.css";
@import "./styles/panel-styles.scss";
@import "./styles/neocom-styles.scss";
body {
    background-color: black;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    line-height: 1.0;
    margin: 2px;
}