<div class="neocom-panel title-box" id="panelborder-orange">
  <nav class="navbar neocom-navbar">
    <a class="navbar-brand neocom-brand" routerLink="/welcome">
      <span class="title">{{titleLeft}}</span><br />
      <span class="subtitle">{{subtitle}}</span>
    </a>

    <!-- N A V B A R   A S S E T S -->
    <div *ngIf="sectionIs('-WELCOME-')" class="navbar-expand mr-auto">
      <div class="navbar-nav">
        <a class="nav-item nav-link citamed-menuitem" routerLink="/welcome" routerLinkActive="citamed-menu-active">Inicio</a>
        <a *ngIf="isValid" class="nav-item nav-link citamed-menuitem" routerLink="/creacitas" routerLinkActive="active">Creacion Citas</a>
        <a *ngIf="isValid" routerLinkActive="active" class="nav-item nav-link citamed-menuitem" routerLink="/citasreservadas">Citas Reservadas</a>
        <!-- <a *ngIf="isValid" routerLinkActive="active" class="nav-item nav-link citamed-menuitem" routerLink="/fechasreservas">Fechas con Reservas</a> -->
      </div>
    </div>
    <div *ngIf="sectionIs('-WELCOME-')" class="navbar-expand ml-auto navbar-nav">
      <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/credentialform">
        <i class="fa fa-user-md" id="ts24"></i>
      </a>
      </div>
    </div>
  </nav>
</div>
