#corporation-name {
    font-size: 14px;
    font-weight: 700;
}

#corporation-id {
    font-weight: 100;
}

#corporation-ticker {
    font-weight: 700;
}

#corporation-members-count {
    font-size: 11px;
}