<div class="neocom-panel panel-white server-info-panel">
    <div *ngIf="serverInfo else loading">
        <span id="server-name">{{getServerName() |titlecase}}</span>
        <span id="server-status">{{getServerStatus()}}</span><br>
        <span class="label">Capsuleers:</span>
        <span id="server-capsuleers">{{getServerCapsuleers() | number:'3.0-0'}}</span><br>
        <span class="label">Last Start Time:</span>
        <span id="server-laststart">{{serverInfo.getStartTime()}}</span>
    </div>
    <ng-template #loading>
        <div class="loading-label">Pending Data Download...</div>
    </ng-template>
</div>