.loading-label {
    font-family: 'Elemental';
    color: orange
}

.server-info-panel {
    padding: 2px;
    height: 50px;
}

#server-name {
    font-size: 14px;
    font-weight: 700;
    color: orange;
}

#server-status {
    float: right;
    color: green;
    font-weight: 700;
    margin-right: 2px;
}

#server-capsuleers {
    float: right;
    margin-right: 2px;
}

#server-laststart {
    float: right;
    font-size: 12px;
    font-weight: 100;
}