<p>
  pilot-manager works!
</p>
<div class="panel panel-default panel-manager" id="panel1">
  <div class="panel-box">
    <table class="panel-node" cellspacing="0" cellpadding="0">
      <tr>
        <td><img class="neocom-icon-90" src="/assets/icons/{{manager.iconName}}"></td>
        <td width="60% ">
          <div class="panel-content-2col">
            <span class="neocom-selectable-name">{{manager.orderingName}}</span><br>
          </div>
        </td>
        <td class="left-box " align="right ">
          <div class="big-label ">{{manager.iconName}}</div>
          <div class="stack-counter ">{{assetTotalCount}}</div>
          <div class="topup-label small-label"><span>ASSETS</span></div>
        </td>
        <td class="arrow-box" (click)="onClickArrow()" [ngClass]="{expanded: expanded}">
          <img class="neocom-arrow" *ngIf="!expanded " src="/assets/icons/arrowleft.png ">
          <img class="neocom-arrow" *ngIf="expanded " src="/assets/icons/arrowright.png ">
        </td>
      </tr>
    </table>
  </div>
</div>
