<p>
  login-page works!
</p>
<span *ngIf="downloading" class="spinner spinner-large spinner-red spinner-fat spinner-slow spinner-location"></span>
<div class="panel-group">
  view-adapter.component running...
  <div *ngFor="let render of loginViewList">
    <app-region *ngIf="render.class == 'Region'" [node]="render"></app-region>
    <neocom-pilot4-roaster *ngIf="render.class == 'Pilot'" [node]="render"></neocom-pilot4-roaster>
    <neocom-login4-list *ngIf="render.jsonClass == 'Login'" [node]="render"></neocom-login4-list>
  </div>
</div>
