<div class="panel-pilot" id="content">
  <div class="panel-box">
    <table class="panel-node" cellspacing="0" cellpadding="0">
      <!-- <a class="no-underline" [routerLink]="['/login',getLoginId(),'pilot',node.getId()]"> -->
      <tr>
        <td><img class="neocom-pilot-avatar neocom-icon90" src="{{node.urlforAvatar}}"></td>
        <td width="90% ">
          <div class="panel-content-2col">
            <span class="neocom-selectable-name">{{node.name}}</span><br>

            <!-- <span class="neocom-pilot-data neocom-data-size-14 neocom-marked-name">{{node.delegatedCharacter.corporationName}}</span><br>
              <span class="neocom-pilot-data">{{node.characterSheet.gender}}</span> -
              <span class="neocom-pilot-data">{{node.characterSheet.race | lowercase | capitalizeLetter}}</span>              -
              <span class="neocom-pilot-data">{{node.characterSheet.bloodLine | lowercase | capitalizeLetter}}</span>              -
              <span class="neocom-pilot-data">{{node.characterSheet.ancestry | lowercase | capitalizeLetter}}</span><br> -->
            <span class="pilot-balance glow-white label-bottomline">{{node.accountBalance | number:'1.2-2'}} ISK</span><br>
            <div class="neocom-label">Balance</div>
            <!-- <span class="neocom-pilot-data neocom-data-size-12">Active Ship:</span>
              <span class="neocom-marked-name">{{node.characterInfo.shipName}}</span> -->
            <!-- <span class="neocom-pilot-data"> - [{{node.characterInfo.shipTypeName}}]</span><br> -->
            <span class="neocom-marked-name neocom-marked-glow label-bottomline" style="font-weight: 400;">{{node.characterInfo.lastKnownLocation}}</span><br>
            <div class="neocom-label">Located At</div>
            <!-- <span class="neocom-pilot-data neocom-data-size-12">Securiry Status:</span>
              <span class="neocom-pilot-data neocom-data-size-14">{{node.characterInfo.securityStatus | number:'1.2-2'}}</span> -->
            <span class="neocom-marked-name neocom-marked-glow label-bottomline">{{node.characterInfo.skillPoints | number:'1.0-0'}} SP</span><br>
            <div class="neocom-label">Total SP</div>
          </div>
        </td>
        <td width="30% " class="left-box " align="right ">
          <div class="neocom-account-class">{{getCharacterClass()}}</div>
          <div>
          </div>
          <div>
            <!-- <span class="neocom-pilot-data neocom-data-size-12">Account status:</span><br> -->
            <span class="neocom-marked-name">{{node.characterSheet.cloneName}}</span><br>
            <span class="neocom-label neocom-ts16 glow-red" style="color:red">Expired</span><br>
          </div>
        </td>
        <td width="5%" *ngIf="isExpandable()" class="neocom-arrow-box" (click)="clickArrow()">
          <img class="neocom-arrow" [ngClass]="{'neocom-arrow-expanded': node.expanded}" src="/assets/icons/arrowright.png ">
        </td>
      </tr>
      <!-- </a> -->
      <tr class="row-separator" *ngIf="expanded">
        <td colspan="4" style="padding-top: 5px;">
          <span>This content is shown when expanded</span>
        </td>
      </tr>
    </table>
  </div>
</div>
