<div style="width: 100%">
  <div>
    <neocom-action-bar></neocom-action-bar>
  </div>
  <div style="width: 60%; float:left">
    <neocom-spinner-central *ngIf="downloading" [configuration]="{title:'Downloading Login list',subtitle:''}"></neocom-spinner-central>
    <neocom-component-factory [dataSource]="getDataSource()"></neocom-component-factory>
  </div>
  <div style="width: 40%; float:right">
    <neocom-detailed-container [selectedNode]="getSelectedNode()"></neocom-detailed-container>
  </div>
</div>
