<!-- <div id="panelborder-orange">
  <table class="neocom-panel-container" cellspacing="0" cellpadding="0" width="100%">
    <tr>
      <td><img class="neocom-pilot-avatar" src="/assets/res-window/drawable/fittingmanagement.png" id="iconsize-36"></td>
      <td width="60% " class="neocom-panel-column">
        <div class="neocom-selectable-name">{{manager.name}}</div>
      </td>
    </tr>
  </table>
</div> -->
<div class="neocom-panel" id="panelborder-orange">
  <img class="neocom-pilot-avatar" src="/assets/res-window/drawable/fittingmanagement.png" id="iconsize-36">
  <a class="no-underline" [routerLink]="['/pilot',getAccountId(),'fittingmanager']">
  <span class="neocom-selectable-name">{{manager.name}}</span>
</a>
</div>
