<!-- <neocom-action-bar [titleLeft]="'WELCOME'" [subtitle]="'Click button to authorize credential.'"></neocom-action-bar> -->
<div class="neocom-panel" id="panelborder-blue">
  <p class="welcome-message">
    Welcome to the NeoCom Infinity helper for industrialists.
  </p>
  <p class="welcome-message">
    Log in with your Eve Online credentials on the ESI login portal to get access to a capsuleer dedicated
    Industrialist Management System.
  </p>
  <span class="welcome-message">
    Services provided are:
    <ul>
      <li>
        Asset List
      </li>
      <li>
        Mining Legder
      </li>
      <li>
        Skills List
      </li>
    </ul>
  </span>
</div>
<div class="login-box">
  <div>
    <div class="panel-red">TEST PANEL<br>TEST PANEL</div>
    <!-- <a class="authorization-button button-size" (click)="launchLogin()"> -->
    <!-- <div *ngIf="!working">ESI Authorization</div> -->
    <div id="centered-container">
      <button *ngIf="!working" type="button" class="button-position panel-green button-green login-button"
        (click)="launchLoginTranquility()">ESI Authorization Tranquility</button>
    </div>
    <div id="centered-container">
      <button *ngIf="!working" type="button" class="button-position panel-blue button-blue"
        (click)="launchLoginSingularity()">ESI Authorization Singularity</button>
      <!-- <div *ngIf="working" class="login-box">
      <i class="fa fa-cog" id="ts24"></i>
      <span class="validating-label">Validating Authorization...</span>
    </div> -->
    </div>
  </div>
</div>