.pilot-avatar-small {
  width: 108px;
  height: 108px;
}

.pilot-info-container {
  padding-left: 5px;
}

.pilot-name {
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 3px;
}

.pilot-content {
  font-weight: bold;
}

.label-small {
  font-size: 12px;
  font-weight: 100;
}

.pilot-balance {
  font-size: 16px;
  font-weight: bold;
}


/* set the line size for all the block elements. */

tr {
  line-height: 1.0;
}
