/* G E N E R A L    D E F I N I T I O N S*/

body {
  background-color: black;
  color: white;
  font-family: 'Roboto', sans-serif;
  line-height: 1.0;
}


/* F O N T S */

@font-face {
  font-family: "Conthrax";
  src: url("./assets/fonts/conthrax-sb.ttf");
}

.contrax-ff {
  font-family: "Conthrax"
}

@font-face {
  font-family: "Tesla";
  src: url("./assets/fonts/TESLA.ttf");
}

.tesla-ff {
  font-family: "Tesla"
}

@font-face {
  font-family: "Elemental";
  font-style: normal;
  font-weight: normal;
  src: url("./assets/fonts/Elemental End.ttf");
}

.elemental-ff {
  font-family: "Elemental"
}

@font-face {
  font-family: "Elemental";
  font-style: italic;
  font-weight: normal;
  src: url("./assets/fonts/Elemental End Italic.ttf");
}

@font-face {
  font-family: 'Mons Olympia';
  font-style: italic;
  font-weight: bold;
  src: url("./assets/fonts/Mons Olympia Bold Italic.otf");
}

@font-face {
  font-family: 'Mons Olympia';
  font-style: normal;
  font-weight: bold;
  src: url("./assets/fonts/Mons Olympia Bold.otf");
}

@font-face {
  font-family: 'Mons Olympia';
  font-style: italic;
  font-weight: normal;
  src: url("./assets/fonts/Mons Olympia Italic.otf");
}

@font-face {
  font-family: 'Mons Olympia';
  font-style: normal;
  font-weight: normal;
  src: url("./assets/fonts/Mons Olympia.otf");
}

.mons-olympia-ff {
  font-family: "Mons Olympia"
}

@font-face {
  font-family: 'Imaki';
  font-style: normal;
  font-weight: normal;
  src: url("./assets/fonts/Imaki.otf");
}

@font-face {
  font-family: 'Imaki';
  font-style: normal;
  font-weight: bold;
  src: url("./assets/fonts/Imaki Bold.otf");
}

.imaki-ff {
  font-family: "Imaki"
}


/* S I Z E S */

#neocom-ts30 {
  font-size: 30px;
}

#neocom-ts24 {
  font-size: 24px;
}

#neocom-ts20 {
  font-size: 20px;
}

#neocom-ts18 {
  font-size: 18px;
}

#neocom-ts16 {
  font-size: 16px;
}

#neocom-ts14 {
  font-size: 14px;
}

#neocom-ts12 {
  font-size: 12px;
}

#neocom-ts10 {
  font-size: 10px;
}

#label-medium {
  font-size: 12px;
}

#label-large {
  font-size: 16px;
}

#iconsize-32 {
  height: 32px;
  width: 32px;
}

#iconsize-48 {
  height: 48px;
  width: 48px;
}

#iconsize-60 {
  height: 60px;
  width: 60px;
}

#iconsize-90 {
  height: 90px;
  width: 90px;
}


/* C O M M O N    S T Y L E S */

.neocom-selectable-name {
  color: #50B71D;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.3;
  text-shadow: 0px 0px 2px #50B71D;
}

.neocom-data {
  color: white;
  font-size: 12px;
}

.left-data {
  float: left;
}

.right-data {
  float: right;
}

.neocom-classname {
  color: #0000FF;
  font-size: 16px;
  font-weight: 500;
  text-shadow: 0px 0px 2px #0000FF;
}

.neocom-classname-white {
  color: white;
  font-size: 16px;
  font-weight: 500;
  /*text-shadow: 0px 0px 2px white;*/
}

.neocom-marked-name {
  color: orange;
}

.neocom-marked-glow {
  color: orange;
  font-weight: 600;
  text-shadow: 0px 0px 2px orange;
}

.glow-marked {
  color: orange;
  font-weight: 600;
  text-shadow: 0px 0px 2px orange;
}

.glow-white {
  color: white;
  font-weight: 600;
  text-shadow: 0px 0px 2px white;
}

.glow-red {
  color: red;
  font-weight: 600;
  text-shadow: 0px 0px 2px red;
}

.neocom-label {
  color: white;
  font-family: "Roboto";
  font-size: 9px;
  font-weight: normal;
  line-height: 1.0;
  /*padding-top: 3px;*/
}

.no-underline {
  font-style: normal;
  font-variant: normal;
  text-decoration: none !important;
}

.lined-topupline {
  border-top: white 1px solid;
}

.lined-bottomline {
  border-bottom: white 1px solid;
  padding-top: 2px;
}

.stack-counter {
  color: white;
  font-size: 22px;
  font-weight: 600;
  padding-top: 2px;
}


/* A R R O W   S E C T I O N */

.neocom-arrow-box {
  cursor: pointer;
  padding-right: 5px;
  vertical-align: middle;
}

.neocom-arrow {
  filter: blur(1px);
}

.neocom-arrow-expanded {
  transform: rotate(90deg);
}


/* P A N E L    T I T L I N G */

.title {
  color: orange;
  font-family: "Elemental";
  font-size: 30px;
  text-shadow: 0px 0px 6px orange;
}

.subtitle {
  color: white;
  font-family: "Elemental";
  font-size: 24px;
  text-shadow: 0px 0px 6px white;
}

.title-box {
  border-bottom: #A0A0F0 2px solid;
  box-shadow: 0px 0px 4px 1px rgba(255, 255, 255, 0.73);
  padding: 5px;
}


/* P A N E L S */

.neocom-panel-container {
  margin-top: 4px;
}

.neocom-panel {
  background-color: #080808;
  font-family: "Mons Olympia";
  height: auto;
  line-height: 1.0;
  margin-bottom: 5px;
  opacity: 0.8;
  position: relative;
  width: 60%;
}

.neocom-panel-container {
  margin: 5px;
}

.neocom-panel-column {
  padding-left: 5px;
}

.neocom-panel-right-box {
  padding-left: 5px;
  padding-right: 5px;
}


/* I C O N S */

.neocom-icon {
  border: white 1px solid;
  box-shadow: inset 0px 0px 4px 1px rgba(255, 255, 255, 0.73), 0px 0px 4px 1px rgba(255, 255, 255, 0.73);
  /*margin-left: 3px;*/
  margin-top: 2px;
  margin-bottom: 2px;
}


/* S P I N N E R    D E F I N I T I O N */

.spinner-blue {
  border-bottom-color: #0000A0;
  border-top-color: #0000A0;
}

.spinner-red {
  border-bottom-color: #FF0000;
  border-top-color: #FF0000;
}


/* P A N E L    B O R D E R   D E F I N I T I O N S */

#content {
  // Light black
  /*cursor: pointer;*/
  line-height: 1.0;
  background-color: #080808;
  height: auto;
  margin-bottom: 5px;
  opacity: 0.8;
  position: relative;
  width: 60%;
}

#content:hover {
  opacity: 1.0
}

#content:before, #content:after, #content>:first-child:before, #content>:first-child:after {
  border: 2px orange solid;
  content: ' ';
  filter: blur(1px);
  height: 20px;
  position: absolute;
  width: 20px;
}

#content:before {
  border-width: 2px 0 0 2px;
  left: 0;
  top: 0;
}

#content:after {
  border-width: 2px 2px 0 0;
  right: 0;
  top: 0;
}

#content>:first-child:before {
  border-width: 0 2px 2px 0;
  bottom: 0;
  right: 0
}

#content>:first-child:after {
  border-width: 0 0 2px 2px;
  bottom: 0;
  left: 0
}

#panelborder-red {
  line-height: 1.0;
  background-color: #080808;
  height: auto;
  margin-bottom: 5px;
  opacity: 0.8;
  position: relative;
  width: 60%;
}

#panelborder-red:hover {
  opacity: 1.0
}

#panelborder-red:before, #panelborder-red:after, #panelborder-red>:first-child:before, #panelborder-red>:first-child:after {
  border: 2px red solid;
  content: ' ';
  filter: blur(1px);
  height: 15px;
  position: absolute;
  width: 15px;
}

#panelborder-red:before {
  border-width: 2px 0 0 2px;
  left: 0;
  top: 0;
}

#panelborder-red:after {
  border-width: 2px 2px 0 0;
  right: 0;
  top: 0;
}

#panelborder-red>:first-child:before {
  border-width: 0 2px 2px 0;
  bottom: 0;
  right: 0
}

#panelborder-red>:first-child:after {
  border-width: 0 0 2px 2px;
  bottom: 0;
  left: 0
}

#panelborder-orange {
  line-height: 1.0;
  background-color: #080808;
  height: auto;
  margin-bottom: 5px;
  opacity: 0.8;
  position: relative;
  width: 60%;
}

#panelborder-orange:hover {
  opacity: 1.0
}

#panelborder-orange:before, #panelborder-orange:after, #panelborder-orange>:first-child:before, #panelborder-orange>:first-child:after {
  border: 2px orange solid;
  content: ' ';
  filter: blur(1px);
  height: 15px;
  position: absolute;
  width: 15px;
}

#panelborder-orange:before {
  border-width: 2px 0 0 2px;
  left: 0;
  top: 0;
}

#panelborder-orange:after {
  border-width: 2px 2px 0 0;
  right: 0;
  top: 0;
}

#panelborder-orange>:first-child:before {
  border-width: 0 2px 2px 0;
  bottom: 0;
  right: 0
}

#panelborder-orange>:first-child:after {
  border-width: 0 0 2px 2px;
  bottom: 0;
  left: 0
}
