### MAVEN ###
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.factorypath
.springBeans

### IntelliJ IDEA ###
#.idea
*.iws
*.iml
*.ipr
/.idea/modules.xml
/.idea/workspace.xml
/.idea/libraries/
/.gradle/

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

### NeoCom ###
classes/
target/
out/

## Heroku gradle additions ##
#gradlew
#gradlew.bat

### Project file exceptions
#.idea/workspace.xml
#privatelibs/
#libs/
src/main/resources/static/
