<div class="neocom-panel panel-orange">
    <table *ngIf="corporation else loading" cellspacing="2px" cellpadding="0" width="100%">
        <tr>
            <td></td>
            <td class="elemental-ff">CORPORATION</td>
            <td class="elemental-ff">CORPORATION CEO</td>
            <td class="elemental-ff">ALLIANCE</td>
        </tr>
        <tr>
            <td width="64px">
                <img class="neocom-icon" id="corporation-icon" src="{{getCorporationIcon()}}">
            </td>
            <td class="neocom-panel-column">
                <corporation-render *ngIf="corporation" [node]="corporation"></corporation-render>
            </td>
            <td>
                <!-- CORPORATION CEO -->
                <div *ngIf="ceo else loading">

                </div>
            </td>
            <td>
                <!-- ALLIANCE BLOCK -->
                <!-- <div *ngIf="alliance else notassociated" class="alliance-box">
                    <alliance-render [node]="getAlliance()"></alliance-render>
                </div> -->
            </td>
        </tr>
    </table>
    <ng-template #loading>
        <div>Loading...</div>
    </ng-template>
    <ng-template #notassociated>
        <div>NOT ASSOCIATED</div>
    </ng-template>
</div>