<div class="neocom-panel" id="panelborder-orange">
  <table class="neocom-panel-container" cellspacing="0" cellpadding="0" width="100%">
    <tr>
      <td><img class="neocom-pilot-avatar" src="{{pilot.urlforAvatar}}" id="iconsize-90"></td>
      <td width="60% " class="neocom-panel-column">
        <div class="neocom-selectable-name">{{pilot.name}}</div>
        <div class="neocom-marked-name" id="neocom-ts14">{{pilot.characterInfo.corporation}}</div>
        <div id="neocom-ts14">
          <!-- <span class="">{{pilot.characterInfo.gender}}</span> - -->
          <span class="neocom-pilot-data">{{pilot.characterInfo.race | lowercase | capitalizeLetter}}</span> -
          <span class="neocom-pilot-data">{{pilot.characterInfo.bloodLine | lowercase | capitalizeLetter}}</span> -
          <!-- <span class="neocom-pilot-data">{{pilot.characterInfo.ancestry | lowercase | capitalizeLetter}}</span> -->
        </div>

        <table cellspacing="0" cellpadding="0" width="100%">
          <tr>
            <td align="left">
              <div class="pilot-balance glow-white lined-bottomline" id="neocom-ts12">{{pilot.accountBalance | number:'1.2-2'}} ISK</div>
            </td>
            <td align="right">
              <div class="stack-counter glow-white lined-bottomline" id="neocom-ts12">{{pilot.assetCount | number:'1.0-0'}}</div>
            </td>
          </tr>
          <tr>
            <td align="left">
              <div class="neocom-label">BALANCE</div>
            </td>
            <td align="right">
              <div class="neocom-label">ASSETS</div>
            </td>
          </tr>

        </table>

        <span class="neocom-label">ACTIVE SHIP ► </span>
        <span class="neocom-marked-name">{{pilot.characterInfo.shipName}}</span>
        <span class="neocom-pilot-data"> - [{{pilot.characterInfo.shipTypeName}}]</span><br>
        <span class="neocom-label">LOCATED IN ► </span>
        <span class="neocom-pilot-data neocom-data-size-14 neocom-marked-name">{{pilot.characterInfo.lastKnownLocation}}</span><br>
        <span class="neocom-label">SECURITY STATUS ► </span>
        <span class="neocom-pilot-data neocom-data-size-14">{{pilot.characterInfo.securityStatus | number:'1.2-2'}}</span>
      </td>
      <td width="40%" class="neocom-panel-right-box" align="right">
        <div class="neocom-account-class">{{getCharacterClass()}}</div>
        <div>
          <!-- <span class="neocom-label">TOTAL SP ► </span> -->
          <span class="neocom-pilot-data neocom-data-size-14 neocom-marked-name">{{pilot.characterInfo.skillPoints | number:'1.0-0'}}</span>
        </div>
        <div>
          <span class="neocom-label" id="neocom-ts12">ACCOUNT STATUS</span><br>
          <!-- <span class="neocom-pilot-data neocom-data-size-14">{{pilot.characterSheet.cloneName}}</span><br> -->
          <span class="" id="neocom-ts14" style="color:red">Expired</span><br>
        </div>
      </td>
      <td width="5%" *ngIf="isExpandable()" class="neocom-arrow-box" (click)="clickArrow()">
        <img class="neocom-arrow" [ngClass]="{'neocom-arrow-expanded': node.expanded}" src="/assets/icons/arrowright.png ">
      </td>
      <td width="5%" *ngIf="!isExpandable()">
        &nbsp;&nbsp;&nbsp;
      </td>
    </tr>
    <!-- <tr class="row-separator" *ngIf="expanded">
      <td colspan="4" style="padding-top: 5px;">
        <span>This content is shown when expanded</span>
      </td>
    </tr> -->
  </table>
</div>
<!-- <div class="panel panel-default panel-skills" id="panel1">
  <div class="panel-box">
    <table class="panel-node" cellspacing="0" cellpadding="0">
      <tr>
      </tr>
    </table>
  </div>
</div> -->
