<div class="insert-animation neocom-panel" id="{{getPanelColor()}}" style="margin-bottom: 2px;">
  <div droppable [dropScope]="'fitting'" [dragOverClass]="'dropAllowed'" [dragHintClass]="'dragOver'" (onDrop)="onItemDrop($event)" class="panel-decorator-collapsed" [ngStyle]="stateStyles">
    <table class="neocom-panel-container" cellspacing="0" cellpadding="0" width="100%">
      <tr>
        <!-- ICON SECTION -->
        <td *ngIf="hasIcon()" width="40px">
          <img class="neocom-icon" id="iconsize-36" src="{{getIconUrl()}}">
        </td>
        <!-- CENTRAL SECTION -->
        <td width="80% " class="neocom-panel-column">
          <div>
            <span class="" id="neocom-ts18">{{node.getDescription()}}</span><br>
          </div>
        </td>
        <!-- RIGHT BLOCK -->
        <td width="20%" class="neocom-panel-right-box" align="right">
          <div class="stack-counter">{{node.getContentsCount() | number:'1.0-0'}}</div>
          <div class="neocom-label right-data">PENDING REQUESTS</div>
        </td>
        <!-- MENU BLOCK -->
        <!-- RIGHT ARROW -->
        <!-- SEPARATOR WHEN NO RIGHT ARROW -->
        <td width="8px" *ngIf="!isExpandable()">
          &nbsp;&nbsp;&nbsp;
        </td>
      </tr>
    </table>
  </div>
</div>