<div class="neocom-panel-inside" id="content-small">
  <table class="neocom-panel-container" cellspacing="0" cellpadding="0" [ngClass]="{'target-resource': node.target}">
    <tr>
      <td width="36px">
        <img class="neocom-icon iconsize-32" src="/assets/icons/planets.png">
      </td>
      <td>
        <div>
          <span class="neocom-marked-name">{{node.name}}</span><br>
          <span class="stackCount">{{node.quantity | number:'1.0-0'}}</span>
        </div>
      </td>
      <td width="80%" align="right">
        <div>
          <span class="stackCount lined-bottomline neoocom-ts12">{{getMarketValue() | number:'1.0-0'}} ISK</span><br>
          <span class="neocom-label">MARKET VALUE</span>
        </div>
      </td>
    </tr>
  </table>
</div>
