.tab-selector {
    //     font-family: "Open Sans";
    //     padding: 6px;
    //     background-color: white;
    color: white;
    //     border-radius: 3px;
}

.tab-selector:hover {
    color: darkslateblue;
}

.tab-icon {
    width: 32px;
    height: 32px;
}

.tab-name {
    font-family: "Elemental";
    // color: white;
    font-size: 13px;
}

// .tab-name:hover {
//     color: darkslateblue
// }