# Generic inginable files
*.log

# Node ignored contents
node_modules/

# Mock ignored files
support/apisimulator-http-1.4/
# Ignore assets not to be included on the repository
src/assets/fonts/
src/styles/fonts/

# Project generated ignored files
.tmp/
coverage/
out-tsc/
dist/
app/

