# - Ignore Angular packages
node_modules/

# - Ignore compilation results
dist/
src/styles/fonts

# - Ignore support code and utilities
support/apisimulator-http-1.4/
support/backend-simulation/*.log
