# - Ignore Angular packages
node_modules/

# - Ignore compilation results
.tmp/
dist/
src/styles/fonts
coverage/

# - Ignore support code and utilities
support/apisimulator-http-1.4/
support/backend-simulation/*.log
