// Styles sheet that will use sass to simplify the genration of parametrized styles.
@import './scss_variables';

// --- PANEL RED
#panelborder-red {
  @extend %panelborder;
}

#panelborder-red:hover {
  opacity: 1.0
}

#panelborder-red:before, #panelborder-red:after, #panelborder-red>:first-child:before, #panelborder-red>:first-child:after {
  border: 1px red solid;
  content: ' ';
  height: $panel-corner-height;
  position: absolute;
  width: $panel-corner-width;
}

#panelborder-red:before {
  border-width: 1px 0 0 1px;
  left: $panel-repositioning;
  top: $panel-repositioning;
}

#panelborder-red:after {
  border-width: 1px 1px 0 0;
  right: $panel-repositioning;
  top: $panel-repositioning;
}

#panelborder-red>:first-child:before {
  border-width: 0 1px 1px 0;
  bottom: $panel-repositioning;
  right: $panel-repositioning;
}

#panelborder-red>:first-child:after {
  border-width: 0 0 1px 1px;
  bottom: $panel-repositioning;
  left: $panel-repositioning;
}
// --- PANEL ORANGE
#panelborder-orange {
  @extend %panelborder;
}

#panelborder-orange:hover {
  opacity: 1.0
}

#panelborder-orange:before, #panelborder-orange:after, #panelborder-orange>:first-child:before, #panelborder-orange>:first-child:after {
  border: 2px orange solid;
  content: ' ';
  height: $panel-corner-height;
  position: absolute;
  width: $panel-corner-width;
}

#panelborder-orange:before {
  border-width: 1px 0 0 1px;
  left: $panel-repositioning;
  top: $panel-repositioning;
}

#panelborder-orange:after {
  border-width: 1px 1px 0 0;
  right: $panel-repositioning;
  top: $panel-repositioning;
}

#panelborder-orange>:first-child:before {
  border-width: 0 1px 1px 0;
  bottom: $panel-repositioning;
  right: $panel-repositioning;
}

#panelborder-orange>:first-child:after {
  border-width: 0 0 1px 1px;
  bottom: $panel-repositioning;
  left: $panel-repositioning;
}
