<p>
  pilot-detail-page works!
</p>
<neocom-pilot4-detail *ngIf="completed" [pilot]="pilot"></neocom-pilot4-detail>
<div width="60%" height="50px">
  <span class="spinner"></span>
</div>
<div *ngIf="!downloading" class="panel-group">
  view-adapter.component running...
  <div *ngFor="let render of adapterViewList">
    <neocom-pilot-manager *ngIf="render.jsonClass == 'AssetsManager'" [pilot]="pilot" [manager]="render"></neocom-pilot-manager>
    <neocom-pilot-manager *ngIf="render.jsonClass == 'Manager'" [pilot]="pilot" [manager]="render"></neocom-pilot-manager>
    <neocom-planetary-manager *ngIf="render.jsonClass == 'PlanetaryManager'" [pilot]="pilot" [manager]="render"></neocom-planetary-manager>
  </div>
</div>
