<p>
  pilot-detail-page works!
</p>
<neocom-pilot4-detail *ngIf="completed" [pilot]="pilot"></neocom-pilot4-detail>
<span *ngIf="downloading" class="spinner spinner-large spinner-red spinner-fat spinner-slow spinner-location"></span>
<div *ngIf="completed" class="panel-group">
  view-adapter.component running...
  <div *ngFor="let render of adapterViewList">
    <neocom-pilot-manager *ngIf="render.class == 'Manager'" [manager]="render"></neocom-pilot-manager>
    <neocom-planetary-manager *ngIf="render.jsonClassname == 'PlanetaryManager'" [manager]="render"></neocom-planetary-manager>
  </div>
</div>
