// - APPLICATION STYLES VARIABLES
@import "./styles/_scss_variables.scss";
.iconsize-24 {
    height: 24px;
    width: 24px;
}

// - I C O N   S E C T I O N

/* This is the default style for any item icon. There is a default size but it can be changed usind an ID from a list of most common used sizes. This default style has a glowing border. There is another style with no glowing. */

.neocom-icon {
    border: white 1px solid;
    box-shadow: inset 0 0 4px 1px rgba(255, 255, 255, 0.73), 0 0 4px 1px rgba(255, 255, 255, 0.73);
    margin: 2px;
}

.neocom-icon-noglow {
    border: white 1px solid;
    margin: 2px;
}

.neocom-panel-column {
    padding-left: 3px;
}