/* F O N T S */


/* @font-face {
    font-family: 'Open Sans';
    font-weight: normal;
    font-style: normal;
    src: url('/assets/fonts/Open-Sans/Regular/OpenSans-Regular.woff2') format('woff2'), url('/assets/fonts/Open-Sans/Regular/OpenSans-Regular.woff') format('woff'), url('/assets/fonts/Open-Sans/Regular/OpenSans-Regular.ttf') format('truetype'), url('/assets/fonts/Open-Sans/Regular/OpenSans-Regular.svg#OpenSansRegular') format('svg');
}

@font-face {
    font-family: 'Open Sans';
    font-weight: normal;
    font-style: italic;
    src: url('/assets/fonts/Open-Sans/Italic/OpenSans-Italic.woff2') format('woff2'), url('/assets/fonts/Open-Sans/Italic/OpenSans-Italic.woff') format('woff'), url('/assets/fonts/Open-Sans/Italic/OpenSans-Italic.ttf') format('truetype'), url('/assets/fonts/Open-Sans/Italic/OpenSans-Italic.svg#OpenSansItalic') format('svg');
}

@font-face {
    font-family: 'Open Sans';
    font-weight: 300;
    font-style: normal;
    src: url('/assets/fonts/Open-Sans/Light/OpenSans-Light.woff2') format('woff2'), url('/assets/fonts/Open-Sans/Light/OpenSans-Light.woff') format('woff'), url('/assets/fonts/Open-Sans/Light/OpenSans-Light.ttf') format('truetype'), url('/assets/fonts/Open-Sans/Light/OpenSans-Light.svg#OpenSansLight') format('svg');
}

@font-face {
    font-family: 'Open Sans';
    font-weight: 300;
    font-style: italic;
    src: url('/assets/fonts/Open-Sans/LightItalic/OpenSans-LightItalic.woff2') format('woff2'), url('/assets/fonts/Open-Sans/LightItalic/OpenSans-LightItalic.woff') format('woff'), url('/assets/fonts/Open-Sans/LightItalic/OpenSans-LightItalic.ttf') format('truetype'), url('/assets/fonts/Open-Sans/LightItalic/OpenSans-LightItalic.svg#OpenSansLightItalic') format('svg');
}

.open-ff {
    font-family: 'Open Sans';
} */

@font-face {
    font-family: 'Proxima Nova Black';
    src: url('/assets/fonts/ProximaNovaAltBlack.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('/assets/fonts/ProximaNovaRegular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('/assets/fonts/ProximaNovaThin.ttf') format('truetype');
    font-style: normal;
    font-weight: 100;
}

.proxima-ff {
    font-family: 'Proxima Nova';
}

.proxima-black-ff {
    font-family: 'Proxima Nova Black';
}

@font-face {
    font-family: "Elemental";
    font-style: normal;
    font-weight: normal;
    src: url("/assets/fonts/ElementalEnd.ttf") format('truetype');
}

@font-face {
    font-family: "Elemental";
    font-style: italic;
    font-weight: normal;
    src: url("/assets/fonts/ElementalEndItalic.ttf");
}

.elemental-ff {
    font-family: "Elemental";
}

@font-face {
    font-family: 'Mons Olympia';
    font-style: normal;
    font-weight: normal;
    src: url("/assets/fonts/MonsOlympia.otf");
}

.mons-olympia-ff {
    font-family: "Mons Olympia";
}

@font-face {
    font-family: 'Imaki';
    font-style: normal;
    font-weight: normal;
    src: url("/assets/fonts/Imaki.otf");
}

@font-face {
    font-family: 'Imaki';
    font-style: normal;
    font-weight: bold;
    src: url("/assets/fonts/Imaki Bold.otf");
}

.imaki-ff {
    font-family: "Imaki";
}

@font-face {
    font-family: 'Din-1451';
    font-style: normal;
    font-weight: normal;
    src: url("/assets/fonts/alte-din-1451-mittelschrift.regular.ttf");
}

@font-face {
    font-family: 'Din-1451';
    font-style: normal;
    font-weight: bold;
    src: url("/assets/fonts/alte-din-1451-mittelschrift.bold.ttf");
}

.din-1451-ff {
    font-family: "Din-1451";
}

@font-face {
    font-family: 'Zekton';
    font-style: normal;
    font-weight: normal;
    src: url("/assets/fonts/zekton rg.ttf");
}

.zekton-ff {
    font-family: "Zekton";
}

@font-face {
    font-family: 'Prototype';
    font-style: normal;
    font-weight: normal;
    src: url("/assets/fonts/Prototype.ttf");
}

.prototype-ff {
    font-family: "Prototype";
}

@font-face {
    font-family: 'TheExpanse';
    font-style: normal;
    font-weight: normal;
    src: url("/assets/fonts/TheExpanse.otf");
}

.expanse-ff {
    font-family: 'TheExpanse';
}


/* S I Z E S */

#neocom-ts30 {
    font-size: 30px;
}

#neocom-ts24 {
    font-size: 24px;
}

#neocom-ts20 {
    font-size: 20px;
}

#neocom-ts18 {
    font-size: 18px;
}

#neocom-ts16 {
    font-size: 16px;
}

#neocom-ts14 {
    font-size: 14px;
}

#neocom-ts12 {
    font-size: 12px;
}

#neocom-ts11 {
    font-size: 11px;
}

#neocom-ts10 {
    font-size: 10px;
}

#neocom-ts9 {
    font-size: 10px;
}

#neocom-ts8 {
    font-size: 10px;
}

#label-small {
    font-size: 8px;
}

#label-medium {
    font-size: 10px;
}

#label-large {
    font-size: 12px;
}