<p>
  planetary-manager-page works!
</p>
<div>
  <span>Planetary Manager</span>
  <span>Resources By Location</span>
</div>
<div width="60%" height="30px">
  <span class="spinner spinner-location"></span>
</div>
<div class="panel-group">
  <div *ngFor="let render of adapterViewList">
    <neocom-region *ngIf="render.jsonClass == 'Region'" [viewer]="getViewer()" [node]="render"></neocom-region>
    <neocom-location *ngIf="render.jsonClass == 'Location'" [viewer]="getViewer()" [node]="render"></neocom-location>
    <neocom-asset *ngIf="render.jsonClass == 'Asset'" [viewer]="getViewer()" [node]="render"></neocom-asset>
  </div>
</div>
