<div class="title-box">
  <div class="title">Planetary Manager</div>
  <div class="subtitle">Resources By Location</div>
</div>
<neocom-spinner-central *ngIf="downloading" [configuration]="{title:'Downloading Planetary Resources',subtitle:''}"></neocom-spinner-central>
<div class="neocom-panel-container">
  <div *ngFor="let render of adapterViewList">
    <neocom-region *ngIf="render.jsonClass == 'Region'" [viewer]="getViewer()" [node]="render"></neocom-region>
    <neocom-location *ngIf="render.jsonClass == 'Location'" [viewer]="getViewer()" [node]="render"></neocom-location>
    <neocom-asset *ngIf="render.jsonClass == 'Asset'" [viewer]="getViewer()" [node]="render"></neocom-asset>
    <neocom-separator *ngIf="render.jsonClass == 'Separator'" [viewer]="getViewer()" [node]="render"></neocom-separator>
    <neocom-container *ngIf="render.jsonClass == 'Container'" [viewer]="getViewer()" [node]="render"></neocom-container>
  </div>
</div>
