<div class="neocom-panel" id="content">
  <div class="panel-collapsed" [ngClass]="{'panel-expanded': node.expanded}">
    <table class="neocom-panel-container" cellspacing="0" cellpadding="0" width="100%">
      <tr>
        <td>
          <img class="neocom-icon iconsize-48" src="{{node.urlLocationIcon}}">
        </td>
        <td class="neocom-panel-column" width="80%">
          <span class="neocom-selectable-name">{{node.system}}</span>
          <span class="neocom.label">[{{getIdentifier()}}]</span>
          <div class="lined-bottomline">
            <span class="neocom-data imaki-ff neocom-ts14" style="color: red;">[{{node.securityValue | number:'1.1-1'}}]</span>
            <span class="neocom-data imaki-ff neocom-ts14">{{node.name}}</span>
          </div>
          <div class="neocom-label">
            <span class="">STATION</span>
          </div>
        </td>
        <td width="20%" class="neocom-panel-right-box" align="right ">
          <div class="neocom-marked neocom-marked-glow neocom-ts14">{{node.region}} ► {{node.constellation}}</div>
          <div class="stack-counter lined-bottomline" style="padding-bottom: 1px;">{{node.stackCount}}</div>
          <div class="neocom-label label-small">ITEMS</div>
        </td>
        <td *ngIf="hasMenu()" width="5%" class="">
          <div class="">
            <a class="no-underline" [routerLink]="['/login',getLoginId(),'pilot',getCharacterId(),'PlanetaryManager','location',getLocationId(),'PlanetaryOptimization']">
              <img src="/assets/icons/menuicon.jpg" width="16px" height="16px" style="filter: invert(100%);">
            </a>
          </div>
        </td>
        <td width="5%" class="neocom-arrow-box" (click)="toggleExpanded()">
          <img class="neocom-arrow" [ngClass]="{'neocom-arrow-expanded': node.expanded}" src="/assets/icons/arrowright.png ">
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <div *ngIf="!node.downloaded" class="right-data">
            <span class="location-totals-label">&nbsp;&nbsp;&nbsp;&nbsp;TOTAL VALUE</span>
            <span class="right-data neocom-ts16">- ISK</span><br>
            <span class="location-totals-label">&nbsp;TOTAL VOLUME</span>
            <span class="right-data neocom-ts16">- M3</span>
          </div>
          <div *ngIf="node.downloaded" class="right-data">
            <span class="location-totals-label">&nbsp;&nbsp;&nbsp;&nbsp;TOTAL VALUE</span>
            <span class="right-data neocom-ts16">{{node.totalValueCalculated | number:'1.0-0'}} ISK</span>
            <br>
            <span class="location-totals-label">&nbsp;TOTAL VOLUME</span>
            <span class="right-data neocom-ts16">{{node.totalVolumeCalculated | number:'1.0-0'}} M3</span>
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>
