.server-info-panel {
padding: 2px;
}
.server-status {
    float: right;
    font-weight: 800;
    color: green;
    margin-right: 2px;
}
.server-capsuleers {
    float: right;   
    margin-right: 2px;
}
