<div class="neocom-panel" id="panelborder-red">
  <table class="neocom-panel-container" cellspacing="0" cellpadding="0" width="100%">
    <tr>
      <td><img class="neocom-icon" src="/assets/icons/{{node.getPanelIcon()}}" id="iconsize-48"></td>
      <td width="80% " class="neocom-panel-column">
        <div>
          <span class="neocom-selectable-name" id="neocom-ts20">{{node.getLoginId()}}</span><br>
        </div>
      </td>
      <td width="20%" class="neocom-panel-right-box" align="right ">
        <div class="neocom-account-class">LOGIN</div>
        <div *ngIf="!node.downloadPending" class="stack-counter">{{node.getKeyCount()}}</div>
        <div class="neocom-label label-small">CHARACTERS</div>
      </td>
      <td width="5%" *ngIf="isExpandable()" class="neocom-arrow-box" (click)="clickArrow()">
        <img class="neocom-arrow" [ngClass]="{'neocom-arrow-expanded': node.expanded}" src="/assets/icons/arrowright.png ">
      </td>
    </tr>
    <!-- </a> -->
  </table>
</div>
