<div class="neocom-panel" id="content">
  <table class="neocom-panel-container" cellspacing="0" cellpadding="0" width="100%">
    <!-- <a class="no-underline" [routerLink]="['/login',node.getLoginId(),'pilotroaster']"> -->
    <tr>
      <td><img class="neocom-icon neocom-icon48" src="/assets/icons/{{node.getPanelIcon()}}"></td>
      <td width="80% " class="neocom-panel-column">
        <div>
          <span class="neocom-selectable-name mons-olympia-ff">{{node.getLoginId()}}</span><br>
        </div>
      </td>
      <td width="20%" class="neocom-panel-right-box" align="right ">
        <span *ngIf="node.downloadPending" class="spinner"></span>
        <div *ngIf="!node.downloadPending" class="stack-counter lined-bottomline">{{node.getKeyCount()}}</div>
        <div class="neocom-label label-small">CHARACTERS</div>
      </td>
      <td width="5%" *ngIf="isExpandable()" class="neocom-arrow-box" (click)="clickArrow()">
        <img class="neocom-arrow" [ngClass]="{'neocom-arrow-expanded': node.expanded}" src="/assets/icons/arrowright.png ">
      </td>
    </tr>
    <!-- </a> -->
  </table>
</div>
